#loginForm {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 400  px;
}

#loginForm > div {
    margin-top: 10px;
}

.invalidInput {

    border-color: red;
}

.errorMessage {
    color: red;
    position: absolute;
    margin-left: 5px;
}

label { 
    position: relative;
    margin-right: 5px;
}
